<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="/WEB-INF/templeate.xhtml">
	<ui:define name="contenido">
		<h:form id="clienteForm">
			
			<p:fieldset id="clientes" legend="Clientes registrados">
				<p:dataTable id="listaClientes" var="cliente"
					value="#{clienteBean.clientes}">

					<p:column headerText="Cedula">
						<h:outputText value="#{cliente.cedula}" />
					</p:column>

					<p:column headerText="Nombre">
						<h:outputText value="#{cliente.nombre}" />
					</p:column>

					<p:column headerText="Apellido">
						<h:outputText value="#{cliente.apellido}" />
					</p:column>

					<p:column headerText="Email">
						<h:outputText value="#{cliente.email}" />
					</p:column>
					
					<p:column style="width:32px">
	                    <p:commandButton update=":clienteForm:display" oncomplete="PF('clienteDialog').show()" icon="pi pi-search">
	                        <f:setPropertyActionListener value="#{cliente}" target="#{clienteBean.cliente}" />
	                    </p:commandButton>
                	</p:column>
					
				</p:dataTable>
			</p:fieldset>
			
			
			<p:dialog header="Detalle de Cliente" widgetVar="clienteDialog" resizable="false" draggable="false"
              showEffect="fade" hideEffect="fade" modal="true">
		        <p:outputPanel id="display">
		            <h:panelGrid columns="2" cellpadding="4" rendered="#{not empty clienteBean.cliente}">
		                
		                <h:outputText value="Cedula:" />
		                <h:outputText value="#{clienteBean.cliente.cedula}" style="font-weight:bold"/>
		 
		                <h:outputText value="Nombre:" />
		                <h:outputText value="#{clienteBean.cliente.nombre}" style="font-weight:bold"/>
		 
		                <h:outputText value="Apellido:" />
		                <h:outputText value="#{clienteBean.cliente.apellido}" style="font-weight:bold"/>
		 
		                <h:outputText value="Email:" />
		                <h:outputText value="#{clienteBean.cliente.email}" style="font-weight:bold"/>
		                
		                <f:facet name="footer">
							<p:commandButton value="Eliminar" ajax="false" action="#{clienteBean.eliminarCliente}" />
							<p:commandButton value="Actualizar" ajax="false" action="#" />							
						</f:facet>
		                
		            </h:panelGrid>
		        </p:outputPanel>
    	</p:dialog>
			
		</h:form>
	</ui:define>
</ui:composition>
</html>
