<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="/WEB-INF/templeate.xhtml">
	<ui:define name="contenido">

		<h:form>
			<p:panelGrid columns="2">

				<f:facet name="header">Registrar Cliente</f:facet>

				<p:outputLabel value="Cedula" />
				<p:inputText value="#{clienteBean.cedula}" />

				<p:outputLabel value="Nombre" />
				<p:inputText value="#{clienteBean.nombre}" />

				<p:outputLabel value="Apellido" />
				<p:inputText value="#{clienteBean.apellido}" />

				<p:outputLabel value="Email" />
				<p:inputText value="#{clienteBean.email}" />

				<p:outputLabel for="popup" value="Fecha nacimiento" />
				<p:calendar id="popup" value="#{clienteBean.fecha}" />

				<p:outputLabel value="Clave" />
				<p:password value="#{clienteBean.clave}" />

				<p:outputLabel value="Confirme la Clave" />
				<p:password value="#{clienteBean.claveConfir}" />

				<f:facet name="footer">
					<p:commandButton value="Aceptar" ajax="false"
						action="#{clienteBean.registrar}" />
				</f:facet>
			</p:panelGrid>
		</h:form>
		<p:growl />

	</ui:define>
</ui:composition>
</html>
