<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<title><ui:insert name="title">Te lo prestamos</ui:insert></title>
</h:head>

<h:body>

	<ui:debug hotkey="x"
		rendered="#{initParam['javax.faces.FACELETS_DEVELOPMENT']}" />

	<div id="header" align="center">
		<h:graphicImage url="#{resource['logo.png']}" />
	</div>

	<div align="center">

		<h:panelGroup rendered="#{!seguridadBean.autenticado}">
			<ui:insert name="login">
				<h:form>
					<p:panelGrid columns="2">
						<f:facet name="header">INGRESAR</f:facet>
						<p:outputLabel value="Login" />
						<p:inputText value="#{seguridadBean.usuario.cedula}" />
						<p:outputLabel value="Clave" />
						<p:password value="#{seguridadBean.usuario.clave}" />
						<f:facet name="footer">
							<p:commandButton value="Aceptar" ajax="false"
								action="#{seguridadBean.loguin}" />
						</f:facet>
					</p:panelGrid>
				</h:form>
				<p:growl />
			</ui:insert>
		</h:panelGroup>
		<h:panelGroup rendered="#{seguridadBean.autenticado}">
			<ui:insert name="menu">
				<h:form>
					<p:menubar>
						<f:facet name="options">
							<p:commandButton value="Inicio" action="/index" style="margin-right:20px;" ajax="false" /> 
						</f:facet>
						<p:submenu label="Empleado" icon="pi pi-file">
						</p:submenu>
						<p:submenu label="Cliente" icon="pi pi-file">
							<p:menuitem value="Clientes" action="/admin/cliente/clientes" ajax="false"/>
							<p:menuitem value="Registrar" action="/admin/cliente/registrar_cliente" ajax="false"/>
						</p:submenu>
						<p:submenu label="Prestamo" icon="pi pi-file">
						</p:submenu>
						<p:menuitem value="Cerrar sesión" icon="pi pi-times" ajax="false"
							action="#{seguridadBean.cerrarSesion}" />
					</p:menubar>
				</h:form>
			</ui:insert>
			<ui:insert name="contenido">
			</ui:insert>
		</h:panelGroup>		
	</div>
	<div id="footer" align="center">
		<h3>Teloprestamos</h3>
		<h6>Todos los derechos reservados, prestamos a tasas desde el 20%.</h6>
	</div>
</h:body>

</html>
