<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<ui:composition template="/WEB-INF/templeate.xhtml">
	<ui:define name="contenido">
		<p:growl />
		<h1>Bienvenido a Te lo Prestamos</h1>
		<h1>Prestamos fáciles y rápidos</h1>
	</ui:define>
</ui:composition>
</html>
