<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">
<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>
</head>
<body>
	
	<h:dataTable value="#{preguntaBean.preguntas}" var="pregunta" border="1">
	
		<h:column><f:facet name="header">Cliente</f:facet> <h:outputText value="#{pregunta.cliente.cedula}"/> </h:column>
		<h:column><f:facet name="header">Pregunta</f:facet> <h:outputText value="#{pregunta.pregunta}"/> </h:column>
		<h:column><f:facet name="header">Fecha</f:facet> <h:outputText value="#{pregunta.fecha}"/> </h:column>
		
	</h:dataTable>	
	
</body>
</html>