<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">
<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>
</head>
<body>
	<h1>Realizar una pregunta</h1>
	<form jsf:id="formPregunta">
		<label for="preguntaFecha">Fecha:</label> 
		<h:inputText id="preguntaFecha" value="#{preguntaBean.fecha}">
			<f:convertDateTime pattern="yyyy-MM-dd"></f:convertDateTime>
		</h:inputText>
		<br/>
		<label for="preguntaPregunta">Pregunta:</label> 
		<input id="preguntaPregunta" type="text" jsf:value="#{preguntaBean.pregunta}" />
		<br/>
		<label for="preguntaCedula">Cedula cliente:</label> 
		<input id="preguntaCedula" type="text" jsf:value="#{preguntaBean.cedulaCliente}" />
		<br/>
		<h:selectOneMenu value="#{preguntaBean.empleado}" converter="empleadoConverter">
		  	<f:selectItem itemLabel="Seleccione un empleado" noSelectionOption="true"></f:selectItem>
			<f:selectItems value="#{preguntaBean.empleados}" var="empleado" itemValue="#{empleado}"  />
		</h:selectOneMenu>
		<br/>
		<input type="submit" jsf:action="#{preguntaBean.realizarPregunta}"	value="Aceptar" />
	</form>
	<h:messages />
</body>
</html>